{% extends 'base.html' %}


{% block body %}

<body>

  {% block content %}

  <div class="col-lg-8 mt-5 mt-lg-0" style="padding-top: 100px">

    <h2>Login</h2>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
      {% endif %}

      <div class="form-row">
        <div class="col-md-6 form-group">
          <input type="text" name="username" class="form-control" id="name" placeholder="Digite seu Usuário" />
          <div class="validate"></div>
        </div>
      </div>


      <div class="form-row">
        <div class="col-md-6 form-group">
          <input type="password" class="form-control" name="password" id="email" placeholder="Insira sua Senha" />
          <div class="validate"></div>
        </div>
      </div>

      {% if form.errors %}

      <p class=" label label-danger">
        Your username and password didn't match.
        Please try again.
      </p>

      {% endif %}

      <button type="submit">Fazer Login</button>

    </form>

  </div>

  {% endblock %}

  {% endblock body %}